<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GestionMagasins.Properties.Settings.COPELITCPTConnectionString" connectionString="Data Source=rdpcopelitcong.ddns.net;Initial Catalog=COPELITCPT;Persist Security Info=True;User ID=sa" providerName="System.Data.SqlClient" />
        <add name="GestionMagasins.Properties.Settings.TESTConnectionString" connectionString="Data Source=DESKTOP-UBRGTAU;Initial Catalog=TEST;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="GestionMagasins.Properties.Settings.DWConfigurationConnectionString" connectionString="Data Source=ROMERROLAPTOP\ROMERROSERVER;Initial Catalog=DWConfiguration;User ID=sa;Password=Omega@@123" providerName="System.Data.SqlClient" />
    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>